@use '../helpers' as *;

.body__two{
    background-color: black;
    scrollbar-width: none; /* Firefox */
    background-color: #000;
	color: #fff;
	font-size: calc(var(--index) * .8);
	font-family: raleway_c, sans-serif;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}

.body__two::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}

.containerr {
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
}
.gallerry {
	transform-style: preserve-3d;
	height: 100%;
}
.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d;

	&__container{
		display: flex;
		align-items: center;

		.frame-p{
			margin-left: rem(70);
			font-size: rem(24);

			@include mobile{
				font-size: rem(18);
			}
		}
	}

	&__left{
		margin-left: rem(-150);

		@include mobile{
			margin-left: rem(-100);
		}
	}

	&__description{
		margin-right: rem(-150);

		&-p{
			margin-right: rem(100);
			max-width: rem(600);
			margin-left: rem(100);
			font-size: rem(22);
			
			@include mobile{
				margin-right: 0;
				margin-left: rem(20);
				font-size: rem(16);
			}
		}

		&-left{
			margin-left: rem(-100);
			font-size: rem(20);
		}
	}

	&__right{
		margin-right: rem(-100);
	}

	&__h4{
		font-size: rem(30);
		max-width: rem(700);
		color: lightblue;
		text-align: center;
	}
}
.frame h3 {
    display: flex;
	font-weight: 100;
	
	width: rem(300);
	line-height: 1.5;
    color: lightblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: rem(500);

    @include mobile{
        width: rem(200);
    }
}

.frame h2 {
    display: flex;
	font-weight: 100;
	line-height: 1.2;
    color: lightblue;
	max-width: rem(700);

	@include mobile{
		max-width: rem(500);
	}
}

.frame h2 {
	text-align: center;
	font-size: calc(var(--index) * 3.3);
}
.frame-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;

	&__right{
		margin-left: rem(150);
		margin-right: rem(-100);
	}
}
.frame-media_left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));

    &-center{
        right: 0;
    }

	&-left{
		margin-left: rem(200);
		margin-right: rem(-100);
	}
}
.frame-media_right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));

    &-center{
        left: 0;
    }
}
.frame_bg {
	background-color: rgb(0 0 0 / .87);
}
video.frame-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-right > * {
	position: relative;
	left: 18vw;
}
.text-left > * {
	position: relative;
	right: 18vw;
}
.frame h3 {
	font-size: calc(var(--index) * 3);
}
.frame p {
	max-width: rem(500);
	// margin-bottom: rem();
    text-align: center;

    @include mobile{
        max-width: rem(300);
		// margin-right: rem(150);
		padding-right: rem(80);
    }
}
.soundbutton {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;
	width: rem(48);
	transition: .25s ease;

    @include mobile{
        width: rem(24);
    }
}
.soundbutton.paused {
	opacity: .25;
}


.button__illustraion{
    border: none;
    color: var(--color-red);
    background-color: transparent;
    position: fixed;
    top: 5vh;
    right: 5vw;
    text-align: center;
}

.fix{
	display: flex;
	align-items: center;
	text-align: center;
	position: fixed;
	justify-content: space-between;
	

	&__button{
		margin-left: rem(50);
		margin-top: rem(50);

		@include mobile{
			margin-left: rem(20);
			margin-top: rem(20);
		}
	}
}

.first-h2{
	@include mobile{
		font-size: rem(10);
		max-width: rem(500);
		text-align: center;
		align-items: center;
		justify-content: center;
	}
}

.frame__p{
	text-align: center;
	margin-top: rem(30);
	margin-left: rem(100);

	@include mobile{
		margin-left: rem(150);
		font-size: rem(12);
	}
}

.frame__span{
	color: var(--color-red);
	padding-left: rem(10);

	&-right{
		padding-right: rem(5);
	}
}


